# Лабораторная работа к лекции 1
Ваше имя:Макарова Виктория
Ваш адрес электронной почты:makarova_vs@mgpu.ru

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [1]:
a = 15
b = 1.78
c = a + b
print(c,type(c))

16.78 <class 'float'>

In [3]:
x = "99"
print(type(x))

<class 'str'>

In [4]:
a = "Moscow"
b = "Russia"
c = a + b
print(c)

MoscowRussia

In [5]:
a = "Moscow"
b = 67.9
x = a + b  
print(x)

TypeError: can only concatenate str (not "float") to str

In [6]:
a = "Moscow"
c = 912
y = a + c
print(y)

TypeError: can only concatenate str (not "int") to str

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

In [14]:
def double_number(a):
    a *= 2
    return a

print(double_number(84))
print(double_number(5.66))

168
11.32

In [16]:
def double_number(a):
    a *= 2
 return a  #изменение отступа

print(double_number(84))
print(double_number(5.66))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [19]:
def double_number(a):
    a *= 2
    return a

print(double_number(84))
print(double_number(5.66))
a

168
11.32

'Moscow'

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [21]:
name = "Viktoria"
spec = "Бизнес-информатика"
age = 20

age_m = age * 12
age_d= age * 365

print(f"Имя: {name}, Специальность: {spec}, Возраст: {age} год, или {age_m} месяцев, или {age_d} дней")

Имя: Viktoria, Специальность: Бизнес-информатика, Возраст: 20 год, или 240 месяцев, или 7300 дней

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [24]:
def calc(x, y):
    global r
    res = (x * y) / r
    return res

r = 10

res1 = calc(88.4, 17)
print(res1)

res2 = calc(41, 59)
print(res2)

res3 = calc(77, 35.8)
print(res3)

150.28000000000003
241.9
275.65999999999997

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [28]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

In [32]:
for peoples, books in zip(people, books_read):
  if books == 0 :
    print(f"{peoples} не читал ни одной книги!")
  else:
    print(f"{peoples} прочитал {books} книг")

Krishnang прочитал 12 книг
Steve прочитал 6 книг
Jimmy не читал ни одной книги!
Mary прочитал 7 книг
Divya прочитал 4 книг
Robert прочитал 10 книг
Yulia прочитал 15 книг

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [41]:
def peoples_read_books(p, r_b):
  for peoples, books in zip(p, r_b):
    if books == 0 :
      print(f"{peoples} не читал ни одной книги!")
    else:
      print(f"{peoples} прочитал {books} книг")

In [42]:
p = ["Mary", "Robert", "Jimmy", "Steve"]
r_b = [7, 10, 0, 6]

peoples_read_books(p, r_b)

Mary прочитал 7 книг
Robert прочитал 10 книг
Jimmy не читал ни одной книги!
Steve прочитал 6 книг

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [51]:
import numpy as np

people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]


# Создаем список кортежей из имен и количества прочитанных книг
people_books = list(zip(people, books_read))

# Сортируем список по количеству прочитанных книг
sorted_people_books = sorted(people_books, key=lambda x: x[1], reverse=True)

# Выводим первые три элемента
for name, count in sorted_people_books[:3]:
    print(f"{name}: {count} книг")

Yulia: 15 книг
Krishnang: 12 книг
Robert: 10 книг